html {
    font-size: 50px;
    font-weight: 300;
}

body {
    width: 100%;
    /* line-height: 1.5; */
    font-size: .3rem;
}

h1 {
    text-align: center;
    font-size: .8rem;
    color: #fff;
    margin: 0 0 40px;
}

.form-area {
    margin: 0 auto;
    border-radius: 10px;
}

.form-area .left {
    float: left;
}

.form-area .left div {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    font-size: 22px;
}
@media screen and (max-width: 815px) {
    h1 {
        font-size: .5rem;
    }

    .form-area .left div {
        font-size: 16px;
    }
}
.form-area .right {
    overflow: hidden;
    padding: 0 0 0 1em;
    /* width: 269px; */
    box-sizing: border-box;
}

.form-area .form-item {
    height: 40px;
    /* margin: 20px 0; */
    text-align: center;
    margin: 10px 0;
}

.form-area .form-item input,
.form-area .form-item select {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    /* text-indent: 1em; */
    font-size: 22px;
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease,
        box-shadow .25s ease;
}

.form-area .form-item input:focus,
.form-area .form-item select:focus {
    border-color: #1ab188;
}

.form-area .form-item select option {
    background: rgba(19, 35, 47, .9);
}

.form-area button {
    width: 100%;
    padding: 15px 0;
    cursor: pointer;
    background: #1ab188;
    color: #fff;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 3px;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.form-area button:hover {
    background: #179b77;
}

.form-area button:disabled {
    background: rgba(255, 255, 255, 0.23);
    color: #a0b3b0;
    cursor: not-allowed;
}
