@import "./reset.css";
@import "http://at.alicdn.com/t/font_1477602_a5eelqyqv4m.css";

body {
	background: #f8f8f8;
	overflow: auto;
	min-height: 100vh;
}
.left {
	float: left;
}

.right {
	float: right;
}


.hidden {
	display: none;
}

.required::before {
	content: "*";
	color: red;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}