.container {
	width: 980px;
	margin: 0 auto;
}
a {
	color: #ffffff;
}
p {
	text-align: justify;
}
/* 顶部栏 */
.topbar {
	position: relative;
	height: 80px;
	width: 100%;
	background-color: #522a5c;
}
.topbar_logo {
	float: left;
	margin-top: 30px;
}
.topbar_logo span {
	font-size: 30px;
	color: #fff;
}
.topbar_menu a {
	color: #fff;
}
.topbar_menu {
	float: right;
	font-family: "宋体",Arial,sans-serif;
	font-size: 20px;
	color: #fff;
	margin-top: 55px;
	display: flex;
}
.topbar_menu li {
	margin-right: 28px;
}
.github_logo {
	position: absolute;
	right: 10px;
	bottom: 0;
}
/* 顶部栏 */

.header {
	background: url(../img/banner-bg.jpg);
	background-size: 100%;
	height: 833px;
}
.article {
	background: linear-gradient(to bottom, rgba(255,255,255,.3),
				rgba(255,255,255,.1) 75%,rgba(255,255,255,0));
	color: #fff;
	width: 400px;
	float: right;
	margin-top: 651px;
}
.article h1 {
	font-size: 20px;
	color: #fff;
	text-align: right;
	padding: 15px;
	padding-bottom: 15px;
}
.article p {
	font-size: 14px;
	padding: 20px;
	padding-top: 0;
	line-height: 150%;
}
/* 头部 */
.body_main {
	background: #eee;
	height: 500px;
}
.article_block {
	display: flex;
}
.article_block li {
	width: 320px;
	background: #fff;
	margin-top: 10px;
}
.article_block li + li{
	margin-left: 10px;
}
.article_block li img {
	padding: 10px;
	padding-bottom: 15px;
}
.article_block li p {
	font-size: 14px;
	line-height: 170%;
	padding: 0 30px 25px 30px;
}
/* 主要内容 */
.body_bottom {
	text-align: center;
	height: 550px;
}
.self_icon {
	margin-top: -50px;
	margin-bottom: 50px;
}
.body_bottom h1 {
	font-family: Century;
	font-size: 30px;
}
.body_bottom p {
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
	width: 600px;
	line-height: 150%;
}
/* 主要内容底部 */
.footer {	
	font-size: 12px;
	position: relative;
	background: #000;
	height: 400px;
	color: #fff;
}
.underline {
	z-index: 1;
	width: 100%;
	height: 40px;
	position: absolute;
	border-bottom: 1px solid #333;
}
.headline {
	width: 200px;
	height: 40px;
	margin: 0 auto;
}
.headline ul {
	display: flex;
}
.headline ul li {
	z-index: 2;
	font-size: 15px;
	margin: 10px auto;
}
.foot_list {
	display: flex;
	padding-top: 30px;
}
.foot_list li + li {
	padding-left: 160px;
}
.foot_list dt {
	font-size: 14px;
	color: #ccc;
	padding-bottom: 25px;
}
.foot_list dd + dd {
	padding-top: 10px;
}
.foot_list a:hover {
	text-decoration: underline;
}
.footline {
	position: absolute;
	bottom: 0;
	width: 980px;
	text-align: center;
}
.footline p {
	margin-bottom: 20px;
}
/* index.html */

.blog_body {
	padding-top: 20px;
	height: 1100px;
	background: #eee;
}
.blog_bodyleft {
	float: left;
	width: 69%;
}
.article_group {
	position: relative;
}
.article_group li + li {
	margin-top: 15px;
}
.blog_article_tag {
	position: absolute;
	left: -50px;
	width: 50px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}
.blog_article_tag_time {
	background: #522a5c;
	height: 40px;
}
.blog_article_tag_type {
	background: #a660b7;
	height: 40px;
}
.blog_article {
	background: #fff;
	padding: 20px;
}
.blog_article h1 {
	font-size: 16px;
	color: #a660b7;
}
.blog_article h2 {
	font-size: 12px;
	color: #666;
}
.content {
	color: #000;
	padding: 15px 0;
	font-size: 12px;
	line-height: 150%;
}
.blog_article > p {
	padding-top: 10px;
	font-size: 12px;
	text-align: right;
	color: #999;
}
.article_pages {
	width: 540px;
	font-size: 13px;
	margin: 10px auto;
	display: flex;
}
.article_pages a {
	display: inline-block;
	color: #000;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	background: #fff;
	height: 35px;
	padding: 0 15px;
}
.article_pages a + a {
	margin-left: 15px;
}
a.article_pages_active {
	color: #fff;
	background: #a660b7;
}
/* 左边栏 */
.blog_bodyright {
	float: right;
	width: 30%;
}
.search_tool {
	padding-top: 15px;
	height: 60px;
	background: #fff;
}
.search_area {
	position: relative;
	border: 1px solid #ddd;
	height: 41px;
	width: 252px;
	margin-left: 20px;
}
.blog_search_text {
	float: left;
	padding-left: 5px;
	width: 161px;
	height: 39px;
	margin-left: 40px;
}
.blog_search_button {
	font-size: 20px;
	float: right;
	height: 42px;
	width: 41px;
	color: #fff;
}
.blog_search_logo {
	position: absolute;
	left: 1px;
	top: 1px;
}
.blog_type {
	margin-top: 10px;
	width: 100%;
}
.blog_type a {
	display: block;
	color: #000;
	font-size: 12px;
	border-left: 5px solid #dfc6e6;
	height: 50px;
	background: #fff;
	line-height: 50px;
	padding-left: 15px;
}
.blog_type a + a {
	border-top: 1px solid #ddd;
}
a.blog_type_active,
.blog_type a:hover {
	border-left: 5px solid #522a5c;
	color: #999;
}
.blog_calender {
	padding: 30px;
	padding-bottom: 0;
	background: #fff;
	margin-top: 10px;
	height: 240px;
}
.blog_calender dt {
	margin-bottom: 20px;
}
.blog_calender dt a {
	color: #773c88;
}
.turn_middle {
	margin: 0 69.5px;
}
.blog_calender dd div {
	margin-top: 10px;
	display: flex;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.blog_calender dd a {
	font-size: 14px;
	text-align: center;
	width: 24px;
	color: #999;
}
.blog_calender dd div a:hover,
.blog_calender a.blog_calender_active {
	background: #773C88;
	color: #fff;
}
.blog_calender dd div a + a {
	margin-left: 11px;
} 
.blog_tags {
	background: #fff;
	margin-top: 10px;
	padding: 10px 30px 20px;
}
.blog_tags h1 {
	color: #999;
	font-size: 14px;
	margin: -5px 0 10px -20px;
	font-weight: 400;
}
.blog_bodyright .blog_tags p a {
	color: #773c88;
}
.tag_high {
	font-size: 30px;
	font-weight: 700;
}
.tag_middle {
	font-size: 20px;
	font-weight: 500;
}
.tag_low {
	font-size: 14px;
	font-weight: 400;
}
.tag_none {
	font-size: 12px;
	font-weight: 100;
}
/* 右边栏 */